<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>

    <servlet>
        <servlet-name>Jersey REST Web Services</servlet-name>
        <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
        <init-param>
            <param-name>com.sun.jersey.config.property.packages</param-name>
            <param-value>uts.wsd.rest</param-value>
        </init-param>
    </servlet>

    <servlet-mapping>
        <servlet-name>Jersey REST Web Services</servlet-name>
        <url-pattern>/rest/*</url-pattern>
    </servlet-mapping>

    <!--
    Commands for forcing HTTPS redirect:
    Note: arguments require two '-' (hyphens)

    asadmin create-protocol -securityenabled=false http-redirect

    asadmin create-http-redirect -redirect-port 8181 -secure-redirect true http-redirect

    asadmin create-protocol -securityenabled=false pu-protocol

    asadmin create-protocol-filter -protocol http-redirect -classname org.glassfish.grizzly.config.portunif.HttpRedirectFilter redirect-filter

    asadmin create-protocol-finder -protocol pu-protocol -targetprotocol http-listener-2 -classname org.glassfish.grizzly.config.portunif.HttpProtocolFinder http-finder

    asadmin create-protocol-finder -protocol pu-protocol -targetprotocol http-redirect -classname org.glassfish.grizzly.config.portunif.HttpProtocolFinder http-redirect

    asadmin set configs.config.server-config.network-config.network-listeners.network-listener.http-listener-1.protocol=pu-protocol

    -->

</web-app>